# Ignore dataset folder (20 Newsgroups is very large)
data/
dataset/
20news/

# Ignore all raw text files (extra safety)
*.txt

# Ignore compiled executables / binaries
*.exe
mysearch

# Ignore editor & IDE settings
.vscode/
